#main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

#footer {
    background-color: #0B132B;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#footer i {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}